<Plugin>
	<CUI>
		<Name>ACTGS</Name>
		<Archive>.dat</Archive>
	</CUI>
	<CUI>
		<Name>ADVDX</Name>
		<Archive>.dat .pak</Archive>
	</CUI>
	<CUI>
		<Name>ADVSystem</Name>
		<Archive>.DAT</Archive>
	</CUI>
	<CUI>
		<Name>AF</Name>
		<Archive>.dat</Archive>
	</CUI>
	<CUI>
		<Name>AI5WIN</Name>
		<Archive>.arc</Archive>
		<Special>
			<Game>DK4</Game>
			<Game>LIME2</Game>
		</Special>
	</CUI>
	<CUI>
		<Name>AI6WIN</Name>
		<Archive>.arc</Archive>
	</CUI>
	<CUI>
		<Name>AIL</Name>
		<Archive>.dat .anm</Archive>
	</CUI>
	<CUI>
		<Name>ARCGameEngine</Name>
		<Archive>.ALF .BIN .AGF</Archive>
		<Relation>
			<Index>.ALF|%{SYS3INI.BIN}</Index>
			<Index>.ALF|%{SYS4INI.BIN}</Index>
		</Relation>
	</CUI>
	<CUI>
		<Name>aselia</Name>
		<Archive>.gd</Archive>
		<Relation>
			<Index>.gd|.dll</Index>
		</Relation>
	</CUI>
	<CUI>
		<Name>AZSystem</Name>
		<Archive>.arc</Archive>
		<Special>
			<Etc>system=%{system.arc}</Etc>
			<Etc>mt=SFMT132049</Etc>
		</Special>
	</CUI>
	<CUI>
		<Name>BaldrX</Name>
		<Archive>.dat</Archive>
		<Special>
			<Etc>force_rgb555</Etc>
		</Special>
	</CUI>
	<CUI>
		<Name>BLUEGALE</Name>
		<Archive>.bdt .snn</Archive>
		<Relation>
			<Index>.snn|.inx</Index>
		</Relation>
	</CUI>
	<CUI>
		<Name>CIRCUS</Name>
		<Archive>.PCK .DAT</Archive>
	</CUI>
	<CUI>
		<Name>Csystem</Name>
		<Archive>.dat .00 .01 .02 .03. 04 .05 .06</Archive>
		<Relation>
			<Index>%{Arc04.dat}|%{Arc01.dat}</Index>
			<Index>%{Arc05.dat}|%{Arc02.dat}</Index>
			<Index>%{Arc06.dat}|%{Arc03.dat}</Index>
		</Relation>
		<Special>
			<Game>Ndoki</Game>
			<Game>tyouR</Game>
			<Game>GYK</Game>
			<Game>koituma</Game>
			<Game>hobo</Game>
			<Game>inyou_shock</Game>
			<Game>inyoutyu</Game>
			<Game>kairaku</Game>
			<Game>yumekoi</Game>
			<Game>hanamaru2</Game>
			<Game>gibo</Game>
			<Game>tyou</Game>
			<Game>hanamaru</Game>
			<Game>kasumi2</Game>
			<Game>himekami</Game>
			<Game>kowakunotoki</Game>
			<Game>harame</Game>
			<Game>tikansyou</Game>
			<Game>tikangan</Game>
			<Game>princess</Game>
			<Game>zoku_kairaku</Game>
			<Game>ikareta</Game>
			<Game>aniyomeiji</Game>
		</Special>
	</CUI>
	<CUI>
		<Name>DAC</Name>
		<Archive>.dpk</Archive>
		<Special>
			<Game>anti</Game>
			<Game>ingoku</Game>
			<Game>wana</Game>
			<Game>tritri</Game>
		</Special>
	</CUI>
	<CUI>
		<Name>EAGLS</Name>
		<Archive>.pak .idx</Archive>
		<Relation>
			<Index>%{CGPACK.pak}|%{CGPACK.idx}</Index>
		</Relation>
		<Special>
			<Game>TIKAN</Game>
			<Game>hensin2</Game>
			<Game>ANEBOIN</Game>
			<Game>ALIS</Game>
		</Special>
	</CUI>
	<CUI>
		<Name>ego</Name>
		<Archive>.dat</Archive>
	</CUI>
	<CUI>
		<Name>EntisGLS</Name>
		<Archive>.noa .dat .arc</Archive>
		<Special>
			<Etc>exe=%{*.exe}</Etc>
		</Special>
	</CUI>
	<CUI>
		<Name>ExHIBIT</Name>
		<Archive>.gyu</Archive>
		<Special>
			<Etc>dll=%{resident.dll}</Etc>
		</Special>
	</CUI>
	<CUI>
		<Name>FORIS</Name>
		<Archive>.GPK</Archive>
		<Special>
			<Etc>exe=%{*.exe}</Etc>
		</Special>
	</CUI>
	<CUI>
		<Name>GameSys</Name>
		<Archive>.pak</Archive>
	</CUI>
	<CUI>
		<Name>GMMSystem</Name>
		<Archive>.dat</Archive>
	</CUI>
	<CUI>
		<Name>GXTH</Name>
		<Archive>.dat .EVT</Archive>
	</CUI>
	<CUI>
		<Name>HSP</Name>
		<Archive>.dat</Archive>
	</CUI>
	<CUI>
		<Name>IkuraGDL</Name>
		<Archive>ISF GRP SNR GGD WMSC VOICE SE DATA MIDI</Archive>
		<Special>
			<Etc>SECRETFILTER=3</Etc>
		</Special>
	</CUI>
	<CUI>
		<Name>Illusion</Name>
		<Archive>.pp</Archive>
		<Special>
			<Game>JS3T</Game>
			<Game>SchoolMate</Game>
		</Special>
	</CUI>
	<CUI>
		<Name>kirikiri2</Name>
		<Archive>.xp3 .exe .tlg .tlg5 .tlg6 .ksd .kdt</Archive>
		<Special>
			<Etc>tpm1=%{*.tpm}</Etc>
			<Etc>tpm1=%{plugin\*.tpm}</Etc>
			<Etc>tpm2=%{*.tpm}</Etc>
			<Etc>tpm2=%{plugin\*.tpm}</Etc>
			<Etc>cxdec=kurenai</Etc>
			<Etc>cxdec=tenshin</Etc>
			<Etc>cxdec=tenshinTrial</Etc>
			<Etc>cxdec=mogla</Etc>
			<Etc>cxdec=ojo2</Etc>
			<Etc>cxdec=silverblue</Etc>
			<Etc>cxdec=lovelaby</Etc>
			<Etc>cxdec=hitozuma</Etc>
			<Etc>cxdec=seiin</Etc>
			<Etc>cxdec=beniten</Etc>
			<Etc>cxdec=ConcertoNote</Etc>
			<Etc>cxdec=lovebattle</Etc>
			<Etc>cxdec=yu-gu</Etc>
			<Etc>cxdec=nidaime</Etc>
			<Etc>cxdec=ruitomo</Etc>
			<Etc>cxdec=ojyo</Etc>
			<Etc>cxdec=natukana</Etc>
			<Etc>cxdec=kinomino</Etc>
			<Etc>cxdec=fanta</Etc>
			<Etc>cxdec=haruiro</Etc>
			<Etc>cxdec=11eyes</Etc>
			<Etc>cxdec=FairChild</Etc>
			<Etc>cxdec=FairChildTrial</Etc>
			<Etc>cxdec=towa</Etc>
			<Etc>cxdec=EXE</Etc>
			<Etc>cxdec=FHA</Etc>
			<Etc>cxdec=yomibito</Etc>
			<Etc>cxdec=nidaimeTrial</Etc>
			<Etc>cxdec=ruitomoTrial</Etc>
			<Etc>cxdec=natukanaTrial</Etc>
			<Game>love</Game>
			<Game>chower2</Game>
			<Game>c_emp</Game>
			<Game>papicon</Game>
			<Game>FSN</Game>
			<Game>MIZUKAKE</Game>
		</Special>
	</CUI>
	<CUI>
		<Name>LC-ScriptEngine</Name>
		<Archive></Archive>
		<Relation>
			<Index>%{lcsebody*}|.lst</Index>
			<Index>%{SoundPackSEVo}|.lst</Index>
		</Relation>
	</CUI>
	<CUI>
		<Name>losterika</Name>
		<Archive>.dat .pak</Archive>
	</CUI>
	<CUI>
		<Name>Lucifen</Name>
		<Archive>.LPK .elg</Archive>
		<Special>
			<Etc>script=%{SCRIPT.LPK}</Etc>
			<Game>sin_ryouki2</Game>
		</Special>
	</CUI>
	<CUI>
		<Name>MainProgramHoep</Name>
		<Archive>.sce .amw .amb .amp .pck .eog .cwp .dat .cwd .cw_ .cwl</Archive>
		<Special>
			<Etc>SaveAsPNG</Etc>
		</Special>
	</CUI>
	<CUI>
		<Name>Majiro Script Engine</Name>
		<Archive>.arc .rct</Archive>
		<Special>
			<Etc>scenario=%{scenario.arc}</Etc>
		</Special>
	</CUI>
	<CUI>
		<Name>MarbleEngine</Name>
		<Archive>.mbl</Archive>
		<Special>
			<Etc>dec_key=eientamasoft</Etc>
			<Etc>dec_key="人妻搾乳飯店-0630-2006"</Etc>
			<Etc>dec_key="とらぶるサッキュバス-0928-2007"</Etc>
			<Etc>dec_key=HIGONOKAMI</Etc>
			<Etc>dec_key=you_ha_shock</Etc>
			<Etc>dec_key=absayuri070999</Etc>
			<Etc>dec_key=rui071099</Etc>
			<Etc>dec_key=yumitan071199</Etc>
			<Etc>dec_key=ranbo071299</Etc>
		</Special>
	</CUI>
	<CUI>
		<Name>mgos</Name>
		<Archive>.det .atm .nme</Archive>
		<Relation>
			<Index>.det|.atm</Index>
		</Relation>
		<Special>
			<Etc>nme=%{*.nme}</Etc>
		</Special>
	</CUI>
	<CUI>
		<Name>N2System</Name>
		<Archive>.npa</Archive>
		<Special>
			<Game>Smgsp</Game>
			<Game>Muramasa</Game>
			<Game>SweetPool</Game>
			<Game>SMG</Game>
			<Game>SMGTrial</Game>
			<Game>ChaosHead</Game>
			<Game>ChaosHeadTrial2</Game>
			<Game>ChaosHeadTrial</Game>
			<Game>Django</Game>
			<Game>DjangoTrial</Game>
			<Game>LamentoBTV</Game>
			<Game>LamentoF</Game>
		</Special>
	</CUI>
	<CUI>
		<Name>NekoSDK</Name>
		<Archive>.dat</Archive>
	</CUI>
	<CUI>
		<Name>NScripter</Name>
		<Archive>.nsa</Archive>
		<Special>
			<Game>1</Game>
			<Game>2</Game>
			<Game>3</Game>
			<Game>4</Game>
			<Game>5</Game>
			<Game>6</Game>
			<Game>7</Game>
			<Game>8</Game>
			<Game>9</Game>
			<Game>512</Game>
		</Special>
	</CUI>
	<CUI>
		<Name>NSystem</Name>
		<Archive></Archive>
		<Special>
			<Etc>key_string="こなゆき ふるり ～柚子原町カーリング部～ 体験版"</Etc>
			<Etc>key_string="秋のうららの外伝 まゆのおさな妻日記"</Etc>
			<Etc>key_string="裕美子さんの新婚日記"</Etc>
			<Etc>key_string="その花びらにくちづけを"</Etc>
			<Etc>key_string="秋のうららの～あかね色商店街～"</Etc>
			<Etc>key_string="母娘ねぶり ～誘う人妻．抱かれたい母娘～"</Etc>
			<Etc>key_string="おしえて巫女先生弐．外伝～ハーレム編～"</Etc>
			<Etc>key_string="孕ませ催眠プリンセス"</Etc>
		</Special>
	</CUI>
	<CUI>
		<Name>ohgetsu</Name>
		<Archive>.PAC .BIN</Archive>
		<Special>
			<Etc>exe=%{*.exe}</Etc>
		</Special>
	</CUI>
	<CUI>
		<Name>QLIE</Name>
		<Archive>.pack .hash</Archive>
		<Relation>
			<Index>.pack|.hash</Index>
		</Relation>
	</CUI>
	<CUI>
		<Name>RioShiina</Name>
		<Archive>.WAR .WAA .S25 .MI4 .OGV</Archive>
		<Special>
			<Etc>nodec</Etc>
		</Special>
	</CUI>
	<CUI>
		<Name>sas5</Name>
		<Archive>.iar .war .sec5</Archive>
		<Relation>
			<Index>.iar|%{*.sec5}</Index>
			<Index>.war|%{*.sec5}</Index>
		</Relation>
	</CUI>
	<CUI>
		<Name>SFA</Name>
		<Archive>.scr</Archive>
	</CUI>
	<CUI>
		<Name>SLGSystem</Name>
		<Archive>.sz .alb .VOI .tig .SPD .SPL</Archive>
		<Relation>
			<Index>.SPD|.SPL</Index>
		</Relation>
	</CUI>
	<CUI>
		<Name>SystemNNN</Name>
		<Archive>.spt .fxf .vaw .wgq .dwq .gpk .gtb .vpk .vtb</Archive>
		<Relation>
			<Index>.vpk|.vtb</Index>
			<Index>.gpk|.gtb</Index>
		</Relation>
	</CUI>
	<CUI>
		<Name>TEATIME</Name>
		<Archive>.txt .pak</Archive>
	</CUI>
	<CUI>
		<Name>TmrHiroADVSystem</Name>
		<Archive>.pac</Archive>
		<Special>
			<Etc>raw</Etc>
		</Special>
	</CUI>
	<CUI>
		<Name>Touhou105</Name>
		<Archive>.dat</Archive>
	</CUI>
	<CUI>
		<Name>Touhou11</Name>
		<Archive>.dat</Archive>
		<Relation>
			<Index>%{thbgm.dat}|%{th11.dat}</Index>
		</Relation>
	</CUI>
	<CUI>
		<Name>VALKYRIA</Name>
		<Archive>.dat</Archive>
	</CUI>
	<CUI>
		<Name>Willadv</Name>
		<Archive>.arc</Archive>
	</CUI>
	<CUI>
		<Name>Xuse</Name>
		<Archive>.bin bv*</Archive>
	</CUI>
	<CUI>
		<Name>ym1n2</Name>
		<Archive>.bin .exe</Archive>
		<Relation>
			<Index>.bin|%{*.exe}</Index>
		</Relation>
	</CUI>
	<CUI>
		<Name>yuLib</Name>
		<Archive>.arc</Archive>
	</CUI>
</Plugin>